.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 1;

  padding: 30px 320px;
  width: 100vw;

  background: #2d2d2d;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.header__title {
  font-weight: 700;
  font-size: 3.6rem;

  color: #ffffff;
}

.header__links {
  display: flex;
  gap: 120px;

  font-weight: 500;
  font-size: 3.2rem;

  list-style-type: none;
  cursor: pointer;

  color: #ffffff;
}

@media screen and (max-width: 810px) {
  .header {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 414px) {
  .header {
    padding: 30px 10px;
  }

  .header__title {
    line-height: 43px;
  }

  .header__links {
    gap: 20px;
  }
}
