.article {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 184px 0;
}

.article__post {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1280px;

  background-color: #ffffff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.post__top {
  display: flex;
}

.top__text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 120px;
}

.text__date {
  font-size: 1.8rem;
  margin-bottom: 44px;
}

.top__text .post__title {
  margin-top: 55px;
}

.article__description {
  margin: 130px 0;
  max-width: 780px;

  overflow: hidden;
}

@media screen and (max-width: 810px) {
  .article__post {
    width: 90%;
  }

  .post__top {
    display: block;
    text-align: center;
  }

  .article__description {
    margin: 40px 20px;
  }
}

@media screen and (max-width: 414px) {
  .post__top img {
    width: 70%;
  }
}
